<link rel="stylesheet" href="./css/docIndex.css">
<link rel="stylesheet" type="text/css" href="./css/headerAndNav.css" />
<link rel="stylesheet" type="text/css" href="css/swiper-3.3.1.min.css" />
<header>
	<li><img src="./images/icon.gif" alt=""></li>
	<li><input type="text" placeholder="请输入内容"></li>
	<li><img src="./images/search.gif" alt=""></li>
</header>
<nav>
	<li>
		<a href="#/docIndex">最新</a>
	</li>
	<li>
		<a href="#/news">新闻</a>
	</li>
	<li>
		<a href="#/product">产品</a>
	</li>
	<li>
		<a href="#/video">视频</a>
	</li>
	<li>
		<a href="#/shoppingGuide">导购</a>
	</li>
</nav>
<div id="banner" class="swiper-container">

	<div class="swiper-wrapper">
		<div class="swiper-slide" ng-repeat="x in slider"><img ng-src="{{x.img}}" /></div>
		<!--<div class="swiper-slide"><img src="./images/banner01.png"/></div>
        <div class="swiper-slide"><img src="./images/banner.gif"/></div>-->
	</div>
	<!-- 如果需要分页器 -->
	<div class="swiper-pagination"></div>

</div>
<div id="hotNews">
	<div class="title">
		<div></div>
		<li>
			<a href="">热门新闻</a>
		</li>
		<li>
			<a href="">更多</a>
		</li>
		<li><img src="./images/jiao.gif" alt=""></li>
	</div>
	<dl ng-repeat="x in hotNews">
		<dd><img ng-src="{{x.img}}" alt=""></dd>

		<p>
			{{x.intro}}
		</p>

		<dt>{{x.date}}</dt>
		<li>
			<img src="./images/eye.gif" alt="">
			<span>187</span>
		</li>
	</dl>
</div>
<div id="hotCarType">
	<div class="title">
		<div></div>
		<li>
			<a href="">热门车型</a>
		</li>
		<li>
			<a href="">更多</a>
		</li>
		<li><img src="./images/jiao.gif" alt=""></li>
	</div>
	<div class="intro clearfixed">
		<div class="left">
			<dd>{{hotCarType[0].title}}</dd>
			<dt>{{hotCarType[0].mean}}</dt>
			<span>{{hotCarType[0].money}}</span>
			<li><img ng-src="{{hotCarType[0].img}}" alt=""></li>
		</div>
		<div class="right">
			<div class="right-top">
				<dd>{{hotCarType[1].title}}</dd>
				<dt>{{hotCarType[1].mean}}</dt>
				<span>{{hotCarType[1].money}}</span>
				<li><img ng-src="{{hotCarType[1].img}}" alt=""></li>
			</div>
			<div class="right-bottom clearfixed">
				<div class="yadi">
					<dd>{{hotCarType[2].title}}</dd>
					<dt>{{hotCarType[2].mean}}</dt>
					<span>{{hotCarType[2].money}}</span>
					<li><img ng-src="{{hotCarType[2].img}}" alt=""></li>
				</div>
				<div class="lima">
					<dd>{{hotCarType[3].title}}</dd>
					<dt>{{hotCarType[3].mean}}</dt>
					<span>{{hotCarType[3].money}}</span>
					<li><img ng-src="{{hotCarType[3].img}}" alt=""></li>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="hotBrand">
	<div class="title">
		<div></div>
		<li>
			<a href="">热门品牌</a>
		</li>
		<li>
			<a href="">更多</a>
		</li>
		<li><img src="./images/jiao.gif" alt=""></li>
	</div>

	<div class="brand-top" >
		<div ng-repeat="x in hotBrand01"><img ng-src="{{x.img}}" alt=""></div>
	</div>
	<div class="brand-bottom">
		<div ng-repeat="x in hotBrand02"><img ng-src="{{x.img}}" alt=""></div>
	</div>

</div>
<div id="hotVideo">
	<div class="title">
		<div></div>
		<li>
			<a href="">热门视频</a>
		</li>
		<li>
			<a href="">更多</a>
		</li>
		<li><img src="./images/jiao.gif" alt=""></li>
	</div>
	<div class="video">
		<div ng-repeat="x in hotVideo">
			<dd><img ng-src="{{x.img}}" alt=""></dd>
			<dt>{{x.title}}</dt>
		</div>
	</div>
</div>